<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<app-header></app-header>
<nav>
    <div class="container">
        <div class="top">
            <!-- <i class="uil uil-bars sidebar-toggle"></i> -->

            <div class="search-box">
                <i class="fa fa-search"></i>
                <!-- <i class="fas fa-bell"></i> -->
                <input type="text" placeholder="Search here...">
            </div>

            <select class="form-select" aria-label="Default select example">
                <option selected>Tất cả các khoa</option>
                <option value="1">Khoa nội</option>
                <option value="2">Khoa ngoại</option>
                <option value="3">Khoa thần kinh</option>
            </select>

        </div>
    </div>
</nav>

<div>
    <div class="pro-container">
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="img">
                    <img src="assets/Doctors-bro.svg" alt="">
                </div>
                <div class="details">
                    <div class="name">Andrew Neil</div>
                    <div class="job">The lorem text the section that contains header with having open functionality.
                        Lorem dolor sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="media-icons">
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="paging">
        <div>
            <button class="btn btn-primary"><i class="uil uil-previous"></i></button>
            <button class="btn btn-primary"><span>1</span></button>
            <button class="btn btn-primary"> <span>2</span></button>
            <button class="btn btn-primary"><i class="uil uil-step-forward"></i></button>
        </div>
    </div>
</div>