<app-header></app-header>
<div class="Auth-form-container" onSubmit={handleSubmit}>
    <form class="Auth-form">
        <div class="Auth-form-content">
            <h3 class="Auth-form-title">Login In</h3>
            <div class="form-group mt-3">
                <label>Email</label>
                <input class="form-control me-2" type="text" placeholder="EMail" name="EMail"
                    [(ngModel)]="authUser.email" />
            </div>
            <div class="form-group mt-3">
                <label>Password</label>
                <input class="form-control me-2" type="password" placeholder="Password" name="Password"
                    [(ngModel)]="authUser.password" />
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="button" (click)="login()" class="btn btn-primary">
                    Login
                </button>
            </div>
            <p class="forgot-password text-right mt-2">
                <a routerLink="/register" routerLinkActive="active">Register?</a>
            </p>
        </div>
    </form>

</div>