<app-header></app-header>
<div class="container">
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                            style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="{{ doctor.user.image}}" alt="Generic placeholder image"
                                    class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                                <button type="button" routerLink="/doctors/{{doctor.id}}/makeappointment"
                                    class=" btn btn-primary" data-mdb-ripple-color="dark" style="z-index: 1;">
                                    Appointment
                                </button>
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>{{ doctor.user.firstName}} {{ doctor.user.lastName}}</h5>
                                <p>{{doctor.specialty}}</p>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">{{doctor.experience}}</p>
                                    <p class="small text-muted mb-0">experience</p>
                                </div>
                                <button type="button" routerLink="/messages/{{doctor.user.id}}" class=" btn btn-primary"
                                    data-mdb-ripple-color="dark" style="z-index: 1;">
                                    Contact
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">{{doctor.description}}</p>
                                </div>
                            </div>
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">Contact</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">phone: {{doctor.user.phoneNumber}}</p>
                                    <p class="font-italic mb-1">email: {{doctor.user.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>